body {
    display:flex;
    margin:0;
    padding:0;
    font-family: 'Roboto';
    flex-direction: column;
}

.top {
    display:flex;
    background-color:#1F2937;
    min-width:100vw;
    min-height:25vh;
    flex-direction:column;
}

#logo,
.hlinks {
    color:white;
}

#logo {
    margin-left:13vw;
    font-weight:900;
    font-size:2vw;
}

.hlinks {
    font-size:1.2vw;
}

.header {
    padding-top:18px;
    display:flex;
    margin-bottom:5vh;
}

.links {
    display:flex;
    margin-left:auto;
    margin-right:10vw;
    gap:2vw;
}

.hbot {
    display:flex;
    margin-bottom:8vh;
    margin-left:13vw;
    gap:5vw;
}

.presentation {
    display:flex;
    flex-direction:column;
    gap:15px;
    min-width:35vw;
    max-width:35vw;
}

.signup {
    max-width:6vw;
    color:white;
    background: #3882F6;
    border:1px;
    border-radius: 4px;
    padding:3.2px;
    font-weight:bold;
    font-size:1vw;
}

.titrePresentation {
    font-size:2vw;
    color:#F9FAF8;
    font-weight:900;
}

.textPresentation {
    color:white;
    font-size:0.9vw;
}

.img {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:gray;
    min-width:25vw;
    max-width:25vw;
}

.imgText {
    font-size:1vw;
    color:white;
}

.infos {
    display:flex;
    align-items:center;
    flex-direction: column;
    gap:2vw;
}

.cases {
    display:flex;
    gap:2vw;
    margin-bottom:4vh;
}

.case {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    max-width: 8vw;
    text-align: center;
}

.case > img {
    max-width:8vw;
}

.case > .carreText {
    font-size:0.8vw;
    
}

.random {
    font-size:1.2vw;
    margin-top:5vh;
    font-weight:900;
}

.bloc {
    background-color:#E5E7EB;
    min-height:30vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author {
    font-weight: 900;
    margin-left:27vw;
    font-size:1.0vw;
}

.quote {
    font-style:italic;
    font-size:1.5vw;
    max-width:35vw;
}

.actionBloc {
    min-height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.actionBox {
    background-color: #3882F6;
    min-height:10vh;
    min-width:70vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.actionAll {
    display:flex;
    flex-direction: column;
    min-width:auto;
}

.call {
    color:white;
    font-size:1.2vw;
    font-weight:900;
}

.message {
    color:white;
    font-size:1.0vw;
}

.signup2 {
    color:white;
    background-color:#3882F6;
    border:1px dashed white;
    max-height:2vh;
    font-size:1.1vw;
}